aniso8601==7.0.0
appdirs==1.4.4
asgiref==3.2.10
cfgv==3.2.0
distlib==0.3.1
Django==3.1.2
django-cors-headers==3.5.0
django-graphql-jwt==0.3.1
filelock==3.0.12
graphene==2.1.8
graphene-django==2.13.0
graphql-core==2.3.2
graphql-relay==2.0.1
identify==1.5.5
importlib-metadata==2.0.0
nodeenv==1.5.0
pre-commit==2.7.1
promise==2.3
PyJWT==1.7.1
pytz==2020.1
PyYAML==5.3.1
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
Unidecode==1.1.1
virtualenv==20.0.33
zipp==3.3.0
